/* 404 ERROR */

html {
    background:
    linear-gradient(
            rgba(177, 10, 33, 0.6),
            rgba(177, 10, 33, 0.6)
    ),
    url("../images/background_error404.gif") 0 0 no-repeat;
    background-size: cover;
}

h2.error {
    color:white;
    text-align: left;
    font-size: 60px;
    padding:0;
    margin: 0;
    position: fixed;
    bottom: 120px;
    left:60px;
}

.error_number {
    font-size: 8rem;
}

.error_subtitle {
    color:rgba(241, 62, 87, 1);
    font-size: 50px;
    text-align:left;
    margin-left:60px;
}