/* About */
html {
    background-color: #18bc90;
}

body {
    color:white;
}

.about_title {
    font-size: 200px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.about_def {
    font-family: "Courier New";
    text-align:left;
    padding: 0;
    margin: 0;
}

.about_explanation {
    text-align: left;
    font-weight: bold;
    font-size:40px;
    line-height: 48px;
}

.yellow {
    color: #fecf3f;
}

button[name='about_okay'] {
    width:80%;
    height:90px;
    background-color: #18bc90;
    font-size:26px;
    font-weight:bold;
    border:3px solid white;
    border-radius:5px;
    outline: none;
}

button[name='about_okay']:hover {
    background-color: #23263e;
    border: 3px solid #23263e;
}