/* Country */

h2.main_title {
    font-size: 80px;
    line-height: 80px;
    margin-top:0;
}

.pink {
    color: #f13e57;
}

/* COUNTRY FORM */

select {
    border: 3px solid #18bc90;
    border-radius: 5px;
    width:80%;
    height:50px;
    padding-left: 40px;
    text-align: center;
    font-weight:lighter;
}


select::-webkit-input-placeholder {
    color: #18bc90;
    font-weight: lighter;
    text-align:center;
}

select:focus {
    color:#23263e;
    outline:0;
    font-weight: lighter;
    text-align:center;
}

button[name='calc'] {
    width:80%;
    height:50px;
    background-color: white;
    color: #23263e;
    font-size:26px;
    font-weight:bold;
    border:3px solid #23263e;
    border-radius:5px;
    margin-top:15px;
    outline:none;
}

button[name='calc']:hover {
    background-color: #18bc90;
    color: white;
    border:none;
}