/* Home */

h2.main_title {
    font-size: 80px;
    line-height: 80px;
    margin-top:0;
}

.pink {
    color: #f13e57;
}

fieldset {
    background-color:#18bc90;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    padding: 13px 3px 3px 3px;
    width:80%;
}

label {
    color:white;
    font-size:16px;
    font-weight: bold;
}

input {
    width:100%;
    height: 50px;
    border: none;
    text-align:center;
    margin-top:10px;
    font-size:16px;
    font-weight: lighter;

}

input::-webkit-input-placeholder {
    color: #18bc90;
    font-size: 16px;
    font-weight: lighter;

}

input:focus {
    color:#23263e;
    outline:0;
    font-size:16px;
    font-weight: lighter;
}

button[name='go'] {
    width:80%;
    height:50px;
    background-color: white;
    color: #23263e;
    font-size:26px;
    font-weight:bold;
    border:3px solid #23263e;
    border-radius:5px;
    margin-top:15px;
    outline:none;
}

button[name='go']:hover {
    width:80%;
    height:50px;
    background-color: #18bc90;
    color: white;
    font-size:26px;
    font-weight:bold;
    border:none;
    border-radius:5px;
    margin-top:15px;
}

.note {
    color: #23263e;
    padding:0;
    margin:0;
}

.note:hover {
    color: #18bc90;
    text-decoration: underline;
}