/* Logo's uitleg */

.logos_text {
    text-align:left;
    height:50px;
    line-height:50px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
}

#logo_co2 {
    background: url("../images/icons/logo_co2.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:35px;
    margin-top: 0;
}

#logo_recycle {
    background: url("../images/icons/logo_recycle.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:35px;
    margin-top:0;
}

#logo_water {
    background: url("../images/icons/logo_water.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:35px;
    margin-top:0;
}

#logo_light {
    background: url("../images/icons/logo_light.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:50px;
    margin-top:0;
}

#logo_car {
    background: url("../images/icons/logo_car.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:35px;
    margin-top:0;
}

#logo_tree {
    background: url("../images/icons/logo_tree.png") 0 0 no-repeat;
    width:60px;
    height: 50px;
    background-size: contain;
    margin-left:50px;
    margin-top:0;
}

button[name='logos_okay'] {
    width:80%;
    height:70px;
    background-color: white;
    color: #23263e;
    font-size:26px;
    font-weight:bold;
    border:3px solid #23263e;
    border-radius:5px;
    margin-top:0;
    outline:none;
}

button[name='logos_okay']:hover {
    background-color: #18bc90;
    color: white;
    border:none;
}

