html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    color: #23263e;
    text-align:center;
}

a:link {text-decoration: none; color:inherit}
a:visited {text-decoration: none; color:inherit}
a:hover {text-decoration: none; color:inherit}
a:active {text-decoration: none; color:inherit}

/* TABLE */

.fullscreen {
    width: 100%;
    min-height: 100%;
}
.tcontainer {
    display: table !important;
    height: 100%;
    overflow: hidden;
}
.theader, .tmain, .tfooter {
    display: table-row;
    width: 100%;
}
.theader, .tfooter {
    height: 1px;
}
.theader {
    background-color: #18bc90;
}

.tmain{
    height: 100%;
}
.tcentered {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

/* Header */

.header-wrapper {
    background-color: #18bc90;
}

#header {
    font-weight: bold;
    color:white;
}

h1#header {
    font-size:95px;
    height:120px;
    line-height:120px;
    margin:0;
}

.theader > div > div > div > div {
    margin-bottom: 0;
}


/* Responsive */

@media screen and (max-width: 1280px) {
    body { zoom: 1; -moz-transform: scale(1); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 1024px) {
    body { zoom: 0.9; -moz-transform: scale(0.9); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 960px) {
    body { zoom: 0.8; -moz-transform: scale(0.8); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 800px) {
    body { zoom: 0.7; -moz-transform: scale(0.7); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 640px) {
    body { zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 480px) {
    body { zoom: 0.5; -moz-transform: scale(0.5); -moz-transform-origin: 0 0}
}

@media screen and (max-width: 320px) {
    body { zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0}
}