
.pink {
    color: #f13e57;
}

#result_country {
    text-align:left;
    font-size:30px;
}

.result_percentage {
    font-size:36px;
    text-align:right;
    font-weight: 300;
    height:50px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;

}

span.perc{
    font-size: 20px;
}

.result_text {
    height: 50px;
    line-height:50px;
    margin-top: 0;
    margin-bottom:0;
}


#logo_co2 {
    background: url("../images/icons/logo_co2.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top: 0;
}

#logo_recycle {
    background: url("../images/icons/logo_recycle.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top:0;
}

#logo_water {
    background: url("../images/icons/logo_water.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top:0;
}

#logo_light {
    background: url("../images/icons/logo_light.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top:0;
    margin-left: 25%;
}

#logo_car {
    background: url("../images/icons/logo_car.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top:0;
}

#logo_tree {
    background: url("../images/icons/logo_tree.png") 0 0 no-repeat;
    height: 50px;
    background-size: contain;
    margin-top:0;
    margin-left: 25%;
    margin-bottom:0;
}

.note {
    color: #23263e;
}

.note:hover {
    color: #18bc90;
    text-decoration: underline;
}

button[name='fixthis'] {
    width:100%;
    height:30px;
    background-color: white;
    color: #23263e;
    font-size:16px;
    font-weight:bold;
    border:2px solid #23263e;
    border-radius:5px;
    outline:none;
    padding:0;
    margin-top:10px;
    margin-bottom:10px;
}

span.yellow {
    color: #fecf3f ;
}

button[name='fixthis']:hover {
    background-color: #18bc90;
    color: white;
    border:none;
}

