/* Tips */

h2#title_tip {
    font-size: 80px;
    line-height: 80px;
    margin-top:60px;
    margin-bottom: 0;

}

.pink {
    color: #f13e57;
}

#subtitle_tip {
    text-align:center;
    font-weight: lighter;
    line-height:30px;
    margin-bottom: 0;
    margin-top: 0;
}

#txt_socialmedia {
    text-align:center;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 60px;
}

#icons_socialmedia {
    float:left;
    display:inline-block;
    width:100%;
}

#facebook {
    background: url("../images/icons/facebook.png") 0 0 no-repeat;
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

#facebook:hover {
    background: url("../images/icons/facebook_hover.png");
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

#twitter {
    background: url("../images/icons/twitter.png") 0 0 no-repeat;
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

#twitter:hover {
    background: url("../images/icons/twitter_hover.png");
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

#instagram {
    background: url("../images/icons/instagram.png") 0 0 no-repeat;
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

#instagram:hover {
    background: url("../images/icons/instagram_hover.png");
    width:60px;
    height: 60px;
    background-size: contain;
    display:inline-block;
    margin:10px;
}

.st_facebook_large{
    visibility: hidden;
;
}

.st_twitter_large{
    display: none;
}

.st_instagram_large{
    display: none;
}